.heading{
    color: rgb(32, 155, 231);
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
    font-family: Roboto;
    font-weight: bold;
  }

  .main-heading{
    padding: 10px;

  }
  .image {
    height: 280px;
    width: 280px;
    background-size: cover;
    border-radius: 12px;
  }
  .photoscontainer{
    padding: auto;
  }
  .imageConatiner{
  margin-bottom: 30px;  
  }
  
  @media screen and (max-width: 768px) {
    .photo {
      height: 120px;
      width: 120px;
      background-size:cover ;
      border-radius: 12px;
    }
    .heading{
      width: 120px;
    }
  }
  
  